<% if !@working_days.is_a? Array %>
</br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-xs-2">Date</th>
    </tr>
  </thead>
  <tbody>
    <% @working_days[:days].to_a.each do |key| %>
      <tr>
        <td><%= key[:date].strftime("%F") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
</br>
<div class="alert alert-info text-center" role="alert">Days that not came to work: <b><%= @working_days.size %></b></div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
  <% @working_days.each do |date| %>
    <tr>
      <td><%=date.strftime("%F")%></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%end%>
