%link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"}
.wrapper_with_padding

  %h2 Report of #{@employee.first_name} #{@employee.last_name}

  .row
    .col-md-4
      .input-group
        %label From
        %input.date{:type=>"text", :id=>"startDate"}

    .col-md-4
      .input-group
        %label To
        %input.date{:type=>"text", :id=>"endDate"}

  .row
    .btn-group{:data_toggle=>"optionsReport"}
      %label.btn.btn-success.active
        %input{:type=>"radio", :name => "options", :id=>"check", :checked=>"true"}
          Assistance

      %label.btn.btn-success
        %input{:type=>"radio", :name => "options", :id=>"absence"}
          Absence

  .row
    .input-group
      %input{:type=>"hidden", :value=>@employee.id, :id=>"employeeId", :name=>"employeeId"}
      %input{:type=>"hidden", :id=>"option", :name=>"option"}

  #tableReport


=javascript_include_tag 'schedule_report'
