#banner
  .banner_content
    %h1 Textile.Co
    %p Large company with years of experience

#bottom_cta
  .wrapper
    %h2 New User
    %p If you want to sign up...
    %button= link_to "Click Meee!!!", new_employee_registration_path

%footer
  %p &copy; Hugo Lopez
